*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    border: 2px ;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center ;
    background: url(paisaje2.jpg);
    background-size: cover;
    background-position: center;
}
.container{
    border: 2px ;
    width: 800px;
    height: 500px;
    display: flex;

}
.login{
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
}
h2{
    font-size: 45px;
    margin-bottom: 20px;
}
samp{
    margin: 20px;
}
.usuario
{
    border: 1px solid #c9c9c9;
    font-size: 18px;
    border-radius: 6px;
    padding: 8px;

}
.password{
     border: 1px solid #c9c9c9;
    font-size: 18px;
    border-radius: 6px;
    padding: 8px;
}
.iniciar{
    font-size: 18px;
    padding: 8px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    background-color: #3AB397;
    color: white;
    

}
